html {
    background-color: black;
}
body {
    margin: 0;
}
input {
    box-sizing: border-box;
    padding: 2px 2.5%;
    margin: 0.25%;
    height: 30px;
    border: 1px solid #313131;
    background-color: #000000;
    color: #d4f1f9;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.7s;
}
input:hover {
    border: 1px solid #21b3d2;
}
input:focus {
    border: 1px solid #21b3d2;
}

.block {
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 3px;
    padding: 0;

    background-color: #000000;
    border: 1px solid #313131;
    color: #d4f1f9;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
}
.correct {
    border: 1px solid #b92e34;
}
.locationCorrect {
    border: 1px solid #5DFC0A;
}
.blockLine {
    display: block;
    margin: 2px 0;
}

#inputText {
    width: 74.5%;
}
#inputButton {
    width: 24.5%;
}